<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav">
        <div class="brand">
            <div class="company-logo">
                <!-- <image src="assets/images/top_back.png"> -->
            </div>
            <div class="brand-logo">
				<i class="fa fa-pie-chart"></i>
			</div>
			<div class="brand-text">
				<p>SHERPA</p>
				<span>Consumer Goods Trading</span>
			</div>
        </div>
        <div class="profile">
            <div class="round">
                <img ng-src="{{vm.pic}}" />
            </div>
            <div class="profile-setting">
                <h3>{{ vm.userName }}</h3>
                <div class="dropdown show">
                    <h4 class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account Settings
                        <i class="fa fa-caret-down fa-fw"></i>
                    </h4>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" ui-sref="app.profile">
                            <i class="fa fa-user fa-fw"></i>View Profile</a>
                        <a class="dropdown-item" ng-click="vm.logout()">
                            <i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menus">
            <ul class="nav" id="side-menu">
                <li ui-sref-active="selected">
                    <a ui-sref="app.main" ng-click="vm.dashboard()">
                        <i class="fa fa-th-large"></i> &nbsp; Dashboard</a>
                </li>
				<!-- <li ui-sref-active="selected">
                    <a ui-sref="app.main" ng-click="vm.fileImport()">
                        <i class="fa fa-file-import"></i> &nbsp; File Import</a>
                </li> -->
				<!-- <li ng-class="{active: vm.openMenu === 'masterfile'}">
					<a class="pointer" ng-click="vm.openSubMenu('masterfile')">
						<i class="fa fa-tag first-tag"></i> &nbsp;
						<span>Masterfile</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level" ng-class="{'open': vm.openMenu === 'masterfile'}">
						<li ui-sref-active="selected">
							<a ui-sref="app.masterfile.member-list">
								<i class="fa fa-check"></i> &nbsp; Customer List</a>
						</li>
						<li ui-sref-active="selected">
							<a ui-sref="app.masterfile.other-income">
								<i class="fa fa-check"></i> &nbsp; Salesman List</a>
						</li>
					</ul>
				</li> -->
                
				<!-- <li ng-class="{active: vm.openMenu === 'administrative'}">
					<a class="pointer" ng-click="vm.openSubMenu('administrative')">
						<i class="fa fa-tag first-tag"></i> &nbsp;
						<span>File Import</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level" ng-class="{'open': vm.openMenu === 'administrative'}">
						<li ui-sref-active="selected">
							<a ui-sref="app.administrative.user-list">
								<i class="fa fa-check"></i> &nbsp; Import</a>
						</li>
					</ul>
				</li> -->
				<li ng-class="{active: vm.openMenu === 'transaction'}">
					<a class="pointer" ng-click="vm.openSubMenu('transaction')">
						<i class="fa fa-tag first-tag"></i> &nbsp;
						<span>Transaction</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level" ng-class="{'open': vm.openMenu === 'transaction'}">
						<li ui-sref-active="selected">
							<a ui-sref="app.transaction.cc-application">
								<i class="fa fa-check"></i> &nbsp; Check & Cash Application</a>
						</li>
						<li ui-sref-active="selected">
							<a ui-sref="app.transaction.file-import">
								<i class="fa fa-check"></i> &nbsp; File Import </a>
						</li>
					</ul>
				</li>
				<li ng-class="{active: vm.openMenu === 'reports'}">
					<a class="pointer" ng-click="vm.openSubMenu('reports')">
						<i class="fa fa-tag first-tag"></i> &nbsp;
						<span>Reports</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level" ng-class="{'open': vm.openMenu === 'reports'}">
						<li ui-sref-active="selected">
							<a ui-sref="app.reports.aging-of-receivable">
								<i class="fa fa-check"></i> &nbsp; Report 1</a>
						</li>
						<li ui-sref-active="selected">
							<a ui-sref="app.reports.aging-of-receivable">
								<i class="fa fa-check"></i> &nbsp; Report 2</a>
						</li>
					</ul>
				</li>
                <!-- <li ng-repeat="x in vm.menuList" ng-class="{active: vm.openMenu === x.group}">
                    <a class="pointer" ng-click="vm.openSubMenu(x.group)">
                        <i class="fa fa-tag first-tag"></i> &nbsp;
                        <span>{{x.group}}</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level" ng-class="{'open': vm.openMenu === x.group}">
                        <li ui-sref-active="selected" ng-repeat="y in x.value">
                            <a ui-sref="{{y.FormLocation}}">
                                <i class="fa fa-check"></i> {{y.FormName}}</a>
                        </li>
                    </ul>
                </li> -->
                <!-- <li ui-sref-active="selected" ng-if="vm.level === 'SCHEMA ADMIN'">
                    <a ui-sref="app.menu" ng-click="vm.addMenu()">
                        <i class="fa fa-cogs"></i> &nbsp; Developer Settings</a>
                </li> -->
            </ul>
        </div>
    </div>
</div>